.f-container{
    justify-content: space-between;
    /* background: rgba(57, 56, 56, 0.579); */
}
.f-left{
    gap: 1rem;
}

.f-left>img{
    border-radius: 50%;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center!important;
        text-align: center;
    }
    .f-right{
        justify-content: center;
    }
}